@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(76, 175, 80, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(65, 65, 65);
  border-radius: 4px;
}

*.dark::-webkit-scrollbar-track {
  background: rgba(76, 175, 80, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(171, 171, 171);
}

html,
body {
  min-height: -webkit-fill-available;
}

body {
  font-family: "Poppins", sans-serif;
  background: white;
}

input:-webkit-autofill,
input:-webkit-autofill:enabled,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px rgb(245 245 245 / var(--tw-bg-opacity, 1))
    inset;
  box-shadow: 0 0 0px 1000px rgb(245 245 245 / var(--tw-bg-opacity, 1)) inset;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1));
}

.loading-bar {
  @apply bg-blue-500;

  width: 20%;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  animation: loading-bar-anim 2s infinite ease-in-out;
}

.hamburger-menu {
  width: 26px;
  height: 26px;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  transition: all;
}

.hamburger-menu::after,
.hamburger-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #363636;
  transition: 0.25s all;
  border-radius: 1rem;
}

.hamburger-menu::before {
  transform: translateY(9px);
  width: 80%;
}

.hamburger-menu::after {
  transform: translateY(-9px);
  box-shadow: 0 9px 0 #363636;
}

.hamburger-menu.active::before {
  transform: rotate(45deg);
  width: 100%;
}

.hamburger-menu.active::after {
  transform: rotate(-45deg);
  box-shadow: none;
}

.animate-menu {
  interpolate-size: allow-keywords;
  transition: width 1s ease;
}

.jodit-toolbar__box {
  top: 0rem !important;
}

.jodit-toolbar-editor-collection {
  background: white;
}

.jodit-wysiwyg {
  background-color: rgb(244 244 245 / var(--tw-bg-opacity));
  color: rgb(51 65 85 / var(--tw-text-opacity));
  padding: 1rem !important;
}

.jodit-status-bar {
  display: none;
}

.jodit-add-new-line {
  display: none;
}

@keyframes loading-bar-anim {
  0% {
    width: 0%;
    left: 0;
  }

  25% {
    width: 100%;
    left: 0;
  }

  50% {
    width: 0%;
    left: 100%;
  }

  75% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 0;
  }
}
